<div class="products">
      <div class="main">
        <h2>Our Products</h2>
      </div>


      <div class="container">
        {{#if err}}
        <p>{{mssg}}</p>
        {{/if}}
        {{#each products}}
        <div class="product">
          <div class="continer">
            <img src={{url}} class="image">
            <div class="overlay">
              <h3 class="text">{{name}}</h3>
              <p class="text">{{description}}</p>
              <p class="text">{{price}} <span>S</span></p>

            </div>
          </div>
          <form class="order" method="post"  action="/">
            <input type="hidden" name="idproduct" value={{id}}>
            <input type="number" name="quantity" min="1" max="10" placeholder="amount" class="number">
            <button type="submit" class="submit" id="submit">Order</button>
          </form>
        </div>
             {{/each}}
        </div>


    </div>
